<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DataAdmin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="DataNet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true"/>
  </runtime>
  <userSettings>
    <DataAdmin.Properties.Settings>
      <setting name="ShowInTaskBar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="connectionHost" serializeAs="String">
        <value />
      </setting>
      <setting name="dbSystem" serializeAs="String">
        <value>SYSTEM</value>
      </setting>
      <setting name="connectionUser" serializeAs="String">
        <value>root</value>
      </setting>
      <setting name="connectionPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="L" serializeAs="String">
        <value>10, 10</value>
      </setting>
      <setting name="S" serializeAs="String">
        <value>1000, 500</value>
      </setting>
      <setting name="AutoLogin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MaxHistoryLooksBackDays" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="dbHist" serializeAs="String">
        <value>HISTORICAL</value>
      </setting>
      <setting name="dbLive" serializeAs="String">
        <value>LIVE</value>
      </setting>
      <setting name="dbBar" serializeAs="String">
        <value>BAR</value>
      </setting>
    </DataAdmin.Properties.Settings>
    <DataNet.Properties.Settings>
      <setting name="ShowInTaskBar" serializeAs="String">
        <value>True</value>
      </setting>
    </DataNet.Properties.Settings>
  </userSettings>
</configuration>
