<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DataNetClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="DataNetProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="DataNetClient.Properties.Settings.dataadmin_dbConnectionString"
            connectionString="server=localhost;User Id=root;password=1234;database=dataadmin_db"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <userSettings>
        <DataNetClient.Properties.Settings>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="SavePass" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="MainDB" serializeAs="String">
                <value>SYSTEM</value>
            </setting>
            <setting name="Host" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="valFinish" serializeAs="String">
                <value>-3000</value>
            </setting>
            <setting name="AutoMissingBarReport" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="connectionUser" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="connectionPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="connectionHost" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="L" serializeAs="String">
                <value>10, 10</value>
            </setting>
            <setting name="S" serializeAs="String">
                <value>800, 500</value>
            </setting>
            <setting name="MaxTickDays" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="dbBar" serializeAs="String">
                <value>BAR</value>
            </setting>
            <setting name="dbHistorical" serializeAs="String">
                <value>HISTORICAL</value>
            </setting>
            <setting name="connectionHostSlave" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="scUser1" serializeAs="String">
                <value />
            </setting>
            <setting name="scPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="scHost" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="scHostSlave" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="MaxTimeOutMinutes" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MaxTimeOutMinutesStandard" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Emails" serializeAs="String">
                <value />
            </setting>
            <setting name="DaysToExpiration" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="IsCrashed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WasConnectedToShared" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WasConnected" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EmailedSymbols" serializeAs="String">
                <value />
            </setting>
            <setting name="IsSendReports" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AdditionalText" serializeAs="String">
                <value />
            </setting>
            <setting name="IsAdditionalTextReuired" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InProgressGroup" serializeAs="String">
                <value />
            </setting>
            <setting name="InQueueGroups" serializeAs="String">
                <value />
            </setting>
            <setting name="MakeBigger" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Autocollect" serializeAs="String">
                <value>False</value>
            </setting>
        </DataNetClient.Properties.Settings>
        <DataNetProject.Properties.Settings>
            <setting name="Password" serializeAs="String">
                <value/>
            </setting>
            <setting name="SavePass" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="DB" serializeAs="String">
                <value>cqg_info</value>
            </setting>
            <setting name="Host" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="valFinish" serializeAs="String">
                <value>-3000</value>
            </setting>
            <setting name="AutoMissingBarReport" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="connectionUser" serializeAs="String">
                <value/>
            </setting>
            <setting name="connectionPassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="connectionHost" serializeAs="String">
                <value/>
            </setting>
        </DataNetProject.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
